services:

  integration-price-database:
    image: bitnami/postgresql
    ports:
      - "5432:5432"
    container_name: "integration-price-database"
    env_file:
      - .env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U docker -d integrationPrice"]
      interval: 1m30s
      timeout: 30s
      retries: 2
      start_period: 30s
    volumes:
      - integration_price_data:/bitnami/postgresql
    networks:
      - lel-app
    logging:
      driver: "json-file"
      options:
        max-size: "5m"
        max-file: "2"

networks:
  lel-app:
    external: true

volumes:
  integration_price_data:

